body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  font-size: 1.3em;
}

a {
  font-size: 1.4em;
}

h3 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.7em;
}

h1 {
  font-size: 1.9em;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 2;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
}
header nav ul a {
  color: #72160e;
}

@media (max-width: 582px) {
  header {
    justify-content: space-between;
    height: 46px;
    width: 100%;
    border-top: solid 1px #72160e;
  }
  header .logo {
    width: 5.126em;
    height: 1.392em;
    margin-left: 15px;
  }
  header .menu-d {
    display: none;
  }
  header nav {
    width: 5.25%;
    margin-right: 15px;
  }
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul .menu-link {
    width: 100%;
    display: flex;
  }
  header nav ul .menu-link .icon-menu {
    width: 100%;
  }
}
@media (min-width: 583px) and (max-width: 1000px) {
  header {
    height: 58.26px;
    padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 1001px) {
  header {
    padding: 5px 15px 5px 15px;
  }
}
@media (min-width: 583px) {
  header {
    justify-content: space-between;
    width: 100%;
  }
  header .logo {
    width: 5.126em;
    height: 1.392em;
  }
  header #menu {
    display: none;
  }
  header nav ul {
    width: 100%;
    justify-content: space-between;
  }
  header nav ul li {
    display: flex;
    align-items: center;
  }
  header nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5em;
    width: 5em;
  }
  header nav ul li .accueil {
    border: solid 1px #72160e;
    border-radius: 5px;
  }
}
@media (max-width: 582px) {
  .titleReservation2 {
    margin-top: 122px;
  }

  .disparition {
    display: flex;
    visibility: hidden;
    height: 68px;
    margin-top: 55px;
  }

  .link {
    border: solid 1px #72160e;
    margin-right: 5px;
    margin-top: 49px;
    border-radius: 10px;
    height: 68px;
    width: 34.9%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    visibility: visible;
    z-index: 1;
    position: fixed;
    color: #72160e;
  }
  .link a {
    padding-right: 18px;
    color: #72160e;
    font-size: 20px;
  }

  .banner {
    background-image: url("./ressources/images/img/barbecue-banniere.jpg");
    width: 100%;
    height: 462px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    flex-direction: column;
  }
  .banner .img-banner {
    display: none;
  }
  .banner .title-reservation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
  }
  .banner .title-reservation .div-title {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
  }
  .banner .title-reservation .div-title .title {
    text-align: center;
  }
  .banner .title-reservation .div-title .text {
    text-align: center;
  }
  .banner .title-reservation .reservation {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    color: #ffffff;
    background: #f39f07;
    border-radius: 10px;
    width: 44.49%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 583px) {
  .link {
    display: none;
  }

  .banner {
    background-image: url("./ressources/images/img/barbecue-banniere3.png");
    width: 100%;
    height: 410px;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.6);
    background-size: cover;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    object-fit: cover;
  }
  .banner .img-banner {
    display: none;
    width: 100%;
    height: 100%;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.6);
  }
  .banner .title-reservation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    justify-content: space-around;
  }
  .banner .title-reservation .div-title {
    display: flex;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    width: 80%;
  }
  .banner .title-reservation .div-title .title {
    font-size: 4.5em;
    width: 100%;
    text-align: center;
  }
  .banner .title-reservation .div-title .text {
    text-align: center;
    font-size: 3.5em;
  }
  .banner .title-reservation .reservation {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 32px;
    background: #f39f07;
    border-radius: 10px;
    width: 44.49%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.restaurant {
  background: rgb(252, 231, 192);
  display: flex;
  flex-direction: column;
}
.restaurant h2 {
  text-align: center;
  color: rgb(114, 22, 14);
}
.restaurant p {
  color: rgb(114, 22, 14);
  text-align: center;
}

.decouvert {
  background: rgb(114, 22, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.decouvert h2 {
  color: white;
}

@media (max-width: 582px) {
  .restaurant .title2 {
    padding: 14px 5px 5px 5px;
  }
  .restaurant .text-R {
    padding: 5px;
  }
  .restaurant .all-card {
    justify-content: space-between;
    height: 1150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(114, 22, 14);
  }
  .restaurant .all-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74.87%;
  }
  .restaurant .all-card .card img {
    border-radius: 10px;
    height: 240px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
    object-fit: cover;
  }
  .restaurant .all-card .information {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    background: rgb(252, 231, 192);
    color: rgb(114, 22, 14);
    width: 79.35%;
    height: 129px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    transform: translateY(-20px);
    z-index: 0;
  }
  .restaurant .all-card .information h3 {
    margin: 10px;
  }
  .restaurant .div-hourly {
    display: flex;
    align-content: space-around;
  }
  .restaurant .div-hourly img {
    width: 31.97%;
    object-fit: cover;
    height: 473px;
    margin-top: 60px;
    margin-left: 26px;
    margin-bottom: 60px;
  }
  .restaurant .div-hourly .hourly {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px 0 0 5%;
  }
  .restaurant .div-hourly .hourly .h2 {
    margin-top: 65px;
    text-align: left;
    width: 100%;
    margin: 20px;
    margin: 0;
  }
  .restaurant .div-hourly .hourly .hourly-week-all {
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.68);
    display: flex;
    flex-direction: column;
    background: rgb(114, 22, 14);
    justify-content: space-around;
    height: 70%;
    transform: translateX(-20%);
  }
  .restaurant .div-hourly .hourly .hourly-week-all .hourly-week {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 33%;
    margin: 0 18px 0 21px;
  }
  .restaurant .div-hourly .hourly .hourly-week-all h3 {
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    font-family: "cairo-semi-bold";
  }
  .restaurant .div-hourly .hourly .hourly-week-all p {
    display: flex;
    align-self: center;
    justify-content: center;
    background: rgb(252, 231, 192);
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-family: "cairo-bold";
    font-size: 1em;
  }
}
@media (min-width: 583px) {
  .decouvert {
    height: 574px;
    background: #72160e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .decouvert h2 {
    color: white;
  }

  .all-card {
    display: flex;
    justify-content: space-around;
    background: #72160e;
    align-items: center;
  }
  .all-card .card {
    height: 350px;
    width: 27.48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all-card .card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    box-shadow: rgba(9, 9, 9, 0.8588235294) 0px 3px 6px;
    position: relative;
    top: 20px;
  }
  .all-card .card .information {
    border: solid 1px #707070;
    border-radius: 10px;
    width: 84.94%;
    height: 40%;
    background: #fce7c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .all-card .card .information h3 {
    margin-bottom: 10px;
  }
  .all-card .card .information p {
    margin-top: 5px;
  }

  .div-hourly {
    display: flex;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .div-hourly img {
    width: 29.5%;
    height: 405px;
    object-fit: cover;
    border: solid 1px #95989a;
  }
  .div-hourly .hourly {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    left: -150px;
    position: relative;
  }
  .div-hourly .hourly h2 {
    margin-left: 65%;
    width: 6em;
  }
  .div-hourly .hourly .hourly-week-all {
    padding: 10%;
    width: 165%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background: #72160e;
    color: white;
    height: 50%;
    justify-content: space-between;
  }
  .div-hourly .hourly .hourly-week-all .hourly-week {
    display: flex;
    align-items: center;
  }
  .div-hourly .hourly .hourly-week-all .hourly-week h3 {
    margin-left: 50px;
  }
  .div-hourly .hourly .hourly-week-all p {
    margin-left: 70px;
    background: #fce7c0;
    width: 10em;
    height: 1.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #72160e;
  }
  .div-hourly .hourly .hourly-week-all .p-d {
    margin-left: 90px;
  }
  .div-hourly .hourly .hourly-week-all .p-vend {
    margin-left: 95px;
  }
  .div-hourly .hourly .hourly-week-all .p-weekend {
    margin-left: 90px;
    width: 27em;
  }
}
footer {
  padding-bottom: 15px;
  background: #72160e;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
}

@media (max-width: 582px) {
  footer img {
    width: 30.86%;
  }
  footer a {
    text-align: center;
  }

  .footer {
    margin-top: 20px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer a {
    color: white;
  }
  .footer .contact-social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .footer .contact-social .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .footer .contact-social .contact .icon {
    width: 1em;
    height: 1rem;
  }
  .footer .contact-social .contact a {
    color: white;
  }
}
@media (min-width: 583px) {
  footer {
    align-items: center;
  }

  .footer {
    justify-content: space-around;
    padding-top: 25px;
    align-items: center;
    width: 100%;
  }
  .footer img {
    width: 25%;
    height: 10%;
  }
  .footer .contact-social {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .contact-social .contact {
    display: flex;
    flex-direction: column;
  }
  .footer .contact-social .contact .icon {
    width: 1em;
    height: 1em;
  }
}
@font-face {
  font-family: "cairo-semi-bold";
  src: url("./ressources/font-family/Cairo-SemiBold.ttf");
}
@font-face {
  font-family: "cairo-bold";
  src: url("./ressources/font-family/Cairo-Bold.ttf");
}
* {
  font-family: "cairo-semi-bold";
}

strong {
  font-family: "cairo-bold";
  font-weight: 900;
}

@media (max-width: 582px) {
  .div-title .title {
    font-family: "cairo-bold";
    font-size: 2em;
  }
  .div-title .text {
    font-size: 2em;
  }

  .banner .title-reservation .reservation {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.8em;
    font-family: "cairo-bold";
  }

  h3 {
    font-family: "cairo-bold";
    font-size: 1.6em;
  }

  p {
    font-size: 1em;
  }

  a {
    font-size: 1.25em;
  }
}

/*# sourceMappingURL=style.css.map */
