body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white ;
}
h1,
h2,
h3,
p {
  margin: 0;
}
p{
  font-size: 1.3em;
}
a{
  font-size: 1.4em;
}
h3{
  font-size: 1.5em;
}
h2{
  font-size: 1.7em;
}
h1{
  font-size: 1.9em;
}
