footer {
  padding-bottom: 15px;
  background: #72160e;
  display: flex;
  flex-direction: column;
  // a{
  //   text-align: center;
  // }
}
.footer {
  display: flex;
}
@media (max-width: 582px) {
  footer {
    img {
      width: 30.86%;
    }
    a {
      text-align: center;
    }
  }
  //footer  ggg
  .footer {
    margin-top: 25px;
    height: 150px;
    flex-direction: column;
    padding: 14px 0;
    align-items: center;
    justify-content: space-evenly;
    a {
      color: #ffff;
    }

    .contact-social {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      padding: 25px 0;
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        .icon {
          width: 1em;
          height: 1rem;
        }
        a {
          color: #ffff;
        }
      }
    }
  }
}
@media (min-width: 583px) {
  footer {
    align-items: center;
  }
  .footer {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 25px;
    align-items: center;
    width: 100%;
    img {
      width: 25%;
      height: 10%;
    }
    .contact-social {
      margin-bottom: 25px;
      margin-top: 25px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .contact {
        display: flex;
        flex-direction: column;
        .icon {
          width: 1em;
          height: 1em;
        }
      }
    }
  }
}
@media (min-width: 1000px) {
  .footer{
    flex-direction: row;
    justify-content: space-evenly !important;
    .contact-social{
      width: 55%;
    }
  }
}
