//all version
header {
  display: flex;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 2;
  div{
    width: 50%;
    display: flex;

  }
  nav {
    display: flex;
    width: 35%;
    ul {
      display: flex;
      a {
        color: #72160e;
      }
    }
  }
}
//versionmobile
@media (max-width: 582px) {
  header {
    justify-content: space-between;

    

    height: 46px;
    width: 100%;

    border-top: solid 1px #72160e;
    border-bottom: solid 1px #72160e;;
    .logo {
      width: 5.126em;
      height: 1.392em;
      margin-left: 15px;
    }
    .menu-d {
      display: none;
    }
    nav {
      width: 5.25%;
      margin-right: 15px;

      ul {
        width: 100%;

        flex-direction: column;
        .menu-link {
          width: 100%;
          display: flex;
          .icon-menu {
            width: 100%;
          }
        }
      }
    }
  }
}
 @media (min-width: 583px) and (max-width: 1000px){
   header{
     height: 58.26px;
     padding: 0px 10px 0px 10px;
  }
}
@media (min-width: 1001px) {
  header {
    padding: 5px 15px 5px 15px;
  }
  
}

//version desktop
@media (min-width: 583px) {
  header {
    justify-content: space-around;
    
    width: 100%;
    // margin-left: 139px;
    // margin-right: 146px;
    .logo {
      width: 5.126em;
      height: 1.392em
    }
    #menu {
      display: none;
    }
    nav {
     
      ul {
        width: 100%;
        justify-content: space-around;
        li {
          width:40%;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5em;
            width: 5em;
          }
          .accueil {
            border: solid 1px #72160e;
            border-radius: 5px;
          }
        }
        .trait {
          border-left: solid 0.02px #72160E;
          width: 0%;
        }
      }
    }
  }
}
