//all version
header {
  display: flex;
  align-items: center;
  position: fixed;
  background: white;
  z-index: 1;
  nav {
    display: flex;
    ul {
      display: flex;
      a {
        color: #72160e;
      }
    }
  }
}
//versionmobile
@media (max-width: 582px) {
  header {
    justify-content: space-between;

    padding: 0 20px 0 20px;

    height: 46px;

    border-top: solid 1px #72160e;
    .logo {
      width: 24.46%;
      height: 49%;
    }
    .menu-d {
      display: none;
    }
    nav {
      width: 5.25%;

      ul {
        width: 100%;

        flex-direction: column;
        .menu-link {
          width: 100%;
          display: flex;
          .icon-menu {
            width: 100%;
          }
        }
      }
    }
  }
}

//version desktop
@media (min-width: 583px) {
  header {
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    // margin-left: 139px;
    // margin-right: 146px;
    .logo {
      width: 20.74%;
      height: 49%;
    }
    #menu {
      display: none;
    }
    nav {
      width: 21.55%;
      ul {
        width: 100%;
        justify-content: space-between;
        li {
          display: flex;
          align-items: center;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5em;
            width: 5em;
          }
          .accueil {
            border: solid 1px #72160e;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
