@font-face {
  font-family: "cairo-semi-bold";
  src: url("./ressources/font-family/Cairo-SemiBold.ttf");
}
@font-face {
  font-family: "cairo-bold";
  src: url("./ressources/font-family/Cairo-Bold.ttf");
}
*{
  font-family:"cairo-semi-bold" ;
}
strong{
  font-family: "cairo-bold";
  font-weight: 900;
}
@media (max-width: 582px) {
  .div-title {
    .title {
      font-family: "cairo-semi-bold";
      font-size: 2.5em;
    }
    .text {
      font-size: 2em;
    }
  }
  .banner {
    .title-reservation {
      .reservation {
        font-size: 1.6em;
      }
    }
  }
  h2 {
    font-size: 1.8em;
    font-family: "cairo-bold";
  }
  h3 {
    font-family: "cairo-bold";
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
  }
  a {
    font-size: 1.25em;
  }
}
@media (min-width: 583px) {
  .div-title{
    .title{
      font-size: 3em;
    }
  }
  h3{
    font-size: 1.2em;
  }
  p{
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  .div-title{
    .title{
      font-size: 6em;
    }
  }
  h2{
    font-size: 2.2em;
  }
  h3{
    font-size: 1.8em;
  }
  p{
    font-size: 1.4em;
  }
  a{
    font-size: 1.5em;
  }
}