@font-face {
  font-family: "cairo-semi-bold";
  src: url("./ressources/font-family/Cairo-SemiBold.ttf");
}
@font-face {
  font-family: "cairo-bold";
  src: url("./ressources/font-family/Cairo-Bold.ttf");
}
* {
  font-family: "cairo-semi-bold";
}
strong {
  font-family: "cairo-bold";
  font-weight: 900;
}
@media (max-width: 582px) {
  .div-title {
    .title {
      font-family: "cairo-semi-bold";
      font-size: 2.3em;
    }
    .text {
      font-size: 2em;
    }
  }
  .banner {
    .title-reservation {
      .reservation {
        font-size: 1.6em;
      }
    }
  }
  h2 {
    font-size: 1.8em;
    font-family: "cairo-semi-bold";
  }
  h3 {
    font-family: "cairo-bold";
    font-size: 1em;
  }
  h4{  color: rgb(114, 22, 14);}
  p {
    font-size: 1em;
  }
  a {
    font-size: 1.25em;
  }
}
@media (min-width: 583px) {
  .div-title {
    .title {
      font-size: 3em;
    }
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 1000px) {
  .div-title {
    .title {
      font-size: 6em;
    }
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
  }
  a {
    font-size: 1.5em;
  }
}

@media (min-width: 1800px) {
 .title {
   font-size: 8em !important;
 }
 .reservation {
   font-size: 3em !important;
 }
 .text-R{
   font-size: 2.5em !important;
 }
 h2{
   font-size: 4em !important;
 }
.all-card{
  height: 600px !important;
  .information{
    justify-content: center;
 .title-name{
   font-size: 3.4em !important;
 }
 .title-description {
   font-size: 2.8em !important;
 }
}
}
.title-day{
  font-size: 3.4em !important;
}
.test{
  width: 40em !important;
}
.title-hour{
  width: 12em;
  font-size: 2.8em !important;
}}

@media (max-width: 376px){
  .menu{
  .title1{
    font-size: 1em;
  }
}}

@media only screen and (min-width: 377px) and (max-width: 451px){
  .menu{
    .title1{
      font-size: 1.2em;
    }
  }
}
@media only screen and (min-width: 452px) and (max-width: 564px){
  .menu{
    .title1{
      font-size: 1.5em;
    }
  }
}
@media only screen and (min-width: 565px) and (max-width: 714px){
  .menu{
    .title1{
      font-size: 1.9em;
    }
  }
}
@media only screen and (min-width: 715px) and (max-width: 902px){
  .menu{
    .title1{
      font-size: 2.4em;
    }
  }
}
// @media only screen and (min-width: 903px) and (max-width: 1200px){
//   .menu{
//     .title1{
//       font-size: 3em;
//     }
//   }
// }