.main {
  background: #fce7c0;
  .banner {
    background-image: url("./ressources/images/img/facade01.jpg");
    height: 359px;
    background-size: cover;
    display: flex;
    align-items: center;
    // justify-content: center;
    box-shadow: #000000ad 0px 3px 6px;
    .title-reservation{
width: 90%;
  
    h1 {
      color: #ffff;
      background: rgba(0, 0, 0, 0.1882352941);
      width: 100%;
      text-align: center;
    }
  }
  }
  .contact{
.adress{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  img{
    height: 2em;
    width: 2em;
  }
  .information-adress{
    display: flex;
    flex-direction: column;
  }
}
  }
}
