.menu {
  background: #fce7c0;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #72160e;
  padding-bottom: 15px;
  h2 {
    margin-top: 15px;
    color: #72160e;
    text-align: center;
  }
  .all-menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    align-items: center;
    .first {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .div-menu {
    color: #72160e;

    h3 {
      display: flex;
      text-align: right;
      // font-size: 1.1em;
      span {
        font-family: "cairo-bold";
      }
      .name {
        order: 3;
      }
      .price {
        order: -1;
      }
    }
    h4 {
      text-align: right;
      margin: 0;
    }
  }
  .trait {
    border-left: solid 0.02px #72160e;
    // margin: 10px 0;
  }
  .div-menu-bis {
    margin: 20px 30px;
    h3 {
      //  text-align: left;
      font-size: 1.1em;
      span {
        font-family: "cairo-bold";
      }
    }
    h4 {
      //  text-align: right;
      margin: 0;
    }
  }
  .starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #72160e;
    width: 100%;
    border: solid 1px #707070;
    h2 {
      margin-top: 15px;
      color: #fce7c0;
    }
    .bloc-starter {
      justify-content: center;
      display: flex;
      img {
        width: 34.6%;
        object-fit: cover;
        height: 368px;
        margin-top: 20px;
        margin-left: 26px;
        margin-bottom: 40px;
        border-radius: 5px;
        border: solid #ffffff 1px;
      }
      .div-starter {
        box-shadow: 0px 3px 6px#000000AD;
        background: #fce7c0;
        border-radius: 10px;
        color: #72160e;
        height: 281px;
        width: 55.41%;
        transform: translateX(-20%);
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          // font-size: 1em;
          text-align: left;
          width: 80%;

          margin-bottom: 10px;
        }
        h4 {
          margin: 0;
          width: 80%;
          text-align-last: left;
          margin-bottom: 10px;
        }
      }
    }
  }
  .dishes {
    background: #fce7c0;
    h2 {
      margin-top: 15px;
    }
    .bloc-dishes {
      display: flex;
      .div-dishes {
        box-shadow: 0px 3px 6px#000000AD;
        background: #72160e;
        border-radius: 10px;
        color: #fce7c0;
        height: 281px;
        width: 54.65%;
        transform: translateX(20%);
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          // font-size: 1.1em;
          text-align: right;
          width: 90%;
          margin-bottom: 10px;
        }
        h4 {
          margin-bottom: 10px;
          width: 90%;
          margin: 0;
          text-align: right;
        }
      }
      img {
        width: 31.5%;
        object-fit: cover;
        height: 368px;
        border-radius: 5px;
        border: solid #ffffff 1px;
        margin-bottom: 40px;
        margin-top: 20px;
      }
    }
  }
}
@media (max-width: 500px) {
  .menu {
    .all-menu {
      flex-direction: column;
    }
    .div-menu {
      margin: 20px 30px;
    }
    .trait {
      width: 10%;
      border-top: solid 0.02px #72160e;
      margin: 10px 0;
    }
    h3 {
      font-size: 1em;
    }
  }
}
@media (min-width: 501px) {
  .menu {
    .trait {
      height: 100px;
      
    }
    .title1 {
      font-size: 1.8em;
    }
    .div-dishes {
      .title2 {
        font-size: 2em;
        display: flex;
        justify-content: right;
        .price {
          order: -2;
        }
        .point {
          order: -1;
        }
      }
    }
    .title3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.4em;
    }
    .div-menu {
      h3 {
        .price {
          order: 2;
        }
        .name {
          order: -1;
        }
      }
    }
    .div-menu-bis {
      h3 {
        font-size: 1.8em;
        display: flex;
        .name {
          order: 2;
        }
        .price {
          order: -1;
        }
      }
    }
    .t1,
    .t3,
    .t4 {
      display: none;
    }
    .t2{
       transform: translateY(-50px);
    }
    .til4{
      text-align: left !important;
    }
  }
}
