.menu {
  background: #fce7c0;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #72160e;
  h2 {
    margin-top: 15px;
    color: #72160e;
    text-align: center;
  }
  .div-menu {
    color: #72160e;
    margin: 20px 30px;
    h3 {
      text-align: right;
      font-size: 1.1em;
    }
    h4 {
      text-align: right;
      margin: 0;
    }
  }
  .trait {
    width: 10%;
    border-top: solid 0.02px #72160e;
    margin: 10px 0;
  }
  .div-menu-bis {
    margin: 20px 30px;
    h3 {
      //  text-align: left;
      font-size: 1.1em;
    }
    h4 {
      //  text-align: right;
      margin: 0;
    }
  }
  .starter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #72160e;
    width: 100%;
    border: solid 1px #707070;
    h2 {
      margin-top: 15px;
      color: #fce7c0;
    }
    .bloc-starter {
      display: flex;
      img {
        width: 31.97%;
        object-fit: cover;
        height: 368px;
        margin-top: 60px;
        margin-left: 26px;
        margin-bottom: 60px;
        border-radius: 5px;
        border: solid #ffffff 1px;
      }
      .div-starter {
        box-shadow: 0px 3px 6px#000000AD;
        background: #fce7c0;
        border-radius: 10px;
        color: #72160e;
        height: 281px;
        width: 54.65%;
        transform: translateX(-20%);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 1em;
          text-align: left;
          width: 90%;

          margin-bottom: 10px;
        }
        h4 {
          margin: 0;
          width: 90%;
          text-align-last: left;
          margin-bottom: 10px;
        }
      }
    }
  }
  .dishes {
    background: #fce7c0;
    h2 {
      margin-top: 15px;
    }
    .bloc-dishes {
      display: flex;
      .div-dishes {
        box-shadow: 0px 3px 6px#000000AD;
        background: #72160e;
        border-radius: 10px;
        color: #fce7c0;
        height: 281px;
        width: 54.65%;
        transform: translateX(20%);
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          font-size: 1.1em;
          text-align: right;
          width: 90%;
          margin-bottom: 10px;
        }
        h4 {
          margin-bottom: 10px;
          width: 90%;
          margin: 0;
          text-align: right;
        }
      }
      img {
        width: 31.5%;
        object-fit: cover;
        height: 368px;
        border-radius: 5px;
        border: solid #ffffff 1px;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    }
  }
}
